@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
ul {
list-style-type: none;
display: flex;
justify-content: space-evenly;
padding-top: 30px;
margin: 0px 100px;
height: fit-content;
align-items: center;
background: white;
width: 100%;
}
h1 {
    display: flex;
    flex-direction: column;
    margin: 0px;
    color: white;
    font-weight: bolder;
    font-size: 80px;
}

#start {
 /*    display: flex;
    justify-content: center; */
text-decoration: none;
margin: 0px 10%;
border: solid 3px rgba(221, 219, 114, 1);
border-radius: 20px 20px 1px 1px;
padding: 10px 60px;
border-bottom-width: 0px;
}
#start:hover {
    background:  rgb(221, 219, 114, 0.3);
    
}
#html {
 /*    display: flex;
    justify-content: center; */
text-decoration: none;
margin: 0px 10%;
border: solid 3px  rgba(241, 101, 41, 1);
border-radius: 20px 20px 1px 1px;
padding: 10px 60px;
border-bottom-color: white;
border-bottom-width: 0px;
}
#html:hover {
    background:  rgba(241, 101, 41, 0.3);
    
}

#css {
    /* display: flex;
    justify-content: center; */
text-decoration: none;
margin: 0px 10%;
border: solid 3px rgba(41, 101, 241, 1);
border-radius: 20px 20px 1px 1px;
padding: 10px 60px;
border-bottom-color: white;
border-bottom-width: 0px;
}
#css:hover {
    background:  rgba(41, 101, 241, 0.3);
}
#test:hover {
background: rgba(238, 47, 197, 1) ;

}
#testprotokoll {
 /*    display: flex;
    justify-content: center; */
text-decoration: none;
margin: 0px 10%;
border: solid 3px rgba(238, 47, 197, 1);
border-radius: 20px 20px 1px 1px;
padding: 10px 60px;
border-bottom-color: white;
border-bottom-width: 0px;

}
#testprotokoll:hover {
    background: rgba(238, 123, 47, 0.3);}
#mainindex {

    border-top:solid 3px rgba(221, 219, 114, 1) ;
}
#mainhtml {border-top:solid 3px rgba(241, 101, 41, 1);}


#maincss {
border-top:solid 3px rgba(41, 101, 241, 1);
}

#maintest {
border-top:solid 3px  rgba(238, 47, 197, 1) ;
}

head {
    font-family: 'Roboto', sans-serif;

}
a {
    text-decoration: none;
color: black;
font-weight: bold;


}
a:hover {
    text-decoration: underline;
color: black;
font-weight: bold;

}

.startactive {
    background: rgba(221, 219, 114, 0.3);


}
.htmlactive {
    background:  rgba(241, 101, 41, 0.3);
}
.cssactive {
background:rgba(41, 101, 241, 0.3);
}
.testactive {
background:  rgba(238, 47, 197, 0.3);

}
header {
    display: flex;
    align-items: center;
    height: 250px;
    flex-direction: column;
    justify-content: flex-end;
    background:rgb(221, 219, 114);
    font-family: 'Montserrat', sans-serif;
}
/* div.titelcontainer {
    display: flex;
    align-items: flex-end;
    height: 100%; */
    
/* }
div.101 {
height: 100%;
} */
